<div layout="column" style="padding: 20px;">
    <h1>Brauss Sales Dashboard</h1>

    <div layout="row" style="height: 400px;">
        <div flex>
            <!-- this Graph is just for the test using csv to JSON 
                but to be deleted -->
            <h2>An Example Line Chart</h2>
            <div line-chart ng-model="lineChart"></div>

        </div>
        <div flex>
        </div>
    </div>
    <div layout="row" style="height: 400px;">
        <div flex>
                <h2>Total Daily Pudding Items Sold</h2>
                <div line-chart ng-model="totalPudding"></div>
        </div>
        <div flex>
        </div>
    </div>
    <div layout="row" style="height: 400px;">
        <div flex>
                <h2>Average Daily Pudding Sold per Customer</h2>
                <div line-chart ng-model="averagePerCustomer"></div>
        </div>
        <div flex>
        </div>
    </div>
    <div layout="row" style="height: 400px;">
        <div flex>
                <h2>Total Daily Item Sales per Pudding Name</h2>
                <div line-chart ng-model="dailyItems"></div>
        </div>
        <div flex>
         </div>
    </div>
</div>
